  <div>
    <span class="mdl-layout-title">RS Management</span>
  <nav class="mdl-navigation">
    <a href="#" class="mdl-navigation__link">View Team Schedule</a>
    <a href="#" class="mdl-navigation__link">Manage my Activities</a>
    <a href="#" class="mdl-navigation__link">My Resource Requests</a>
    <a href="#" class="mdl-navigation__link">Reports</a>
    <a href="#" class="mdl-navigation__link">Administration</a>
    <a href="#" class="mdl-navigation__link">Scenario Modelling</a>
    <a href="#" class="mdl-navigation__link">Time Entry</a>
  </nav>
</div>